<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<% @comments.each do |comment| %>
  <div class='well'>
    <%= comment.content %>
  </div>
  <div>
    <%= link_to 'Edit', edit_comment_path(comment) %>
    <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<%# render 'form', comment: current_user.comments.new if user_signed_in? %>
<%= render 'form', comment: Comment.new %>
